<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedro.readr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchermain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.pedro.readr.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pedro.readr.activities.ListNewsActivity"
            android:parentActivityName="com.pedro.readr.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pedro.readr.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.pedro.readr.activities.ShowArticleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pedro.readr.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.pedro.readr.notifications.NotificationService"
            android:exported="false" />
        <receiver
            android:name="com.pedro.readr.notifications.NotificationAlarm"
            android:process=":remote" />
    </application>

</manifest>